<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
   <appSettings>
     <add key = "file_source"      value = "C:\Users\daddy\AppData\Local\Packages\Microsoft.Windows.ContentDeliveryManager_cw5n1h2txyewy\LocalState\Assets"/>
     <add key = "file_destination" value = "D:/spotlight/"/>
     <add key = "file_cache"       value = "D:/fileInfo.cache"/>
     <add key = "file_type"        value = ".jpg"/>
     <add key = "log_file"         value = "D:/spotlightLog.txt"/>
   </appSettings>
  
</configuration>
