<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
   <appSettings>
     <add key = "file_source"      value = "C:\source"/>
     <add key = "file_destination" value = "D:\destination"/>
     <add key = "file_cache"       value = "D:\fileInfo.cache"/>
     <add key = "file_type"        value = ".jpg"/>
     <add key = "log_file"         value = "D:\Log.txt"/>
   </appSettings>
  
</configuration>
